html {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('assets/background/crayon\ background.gif');
    background-size:cover;
}

@font-face {
    font-family: DK Cool Crayon;
    src: url(fonts/DK\ Cool\ Crayon.ttf);
}

@font-face {
    font-family: DK Cool Crayon;
    src: url(fonts/DK\ Cool\ Crayon.ttf);
}

.container {
    margin: 0 auto;    
}

@media (max-width: 1000px) { 
    .text-container {
        width: 60% !important;
    }
}
  
.text-container {
    border: 2px solid #af0d79;
    padding: 50px;
    border-radius: 15px;
    background-color: #770752;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

body {
    padding: 0;
}

h1 {
    text-align:center;
    font-size: 60px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

h3 {
    position:relative;
    bottom: 30px;
    text-align:center;
    font-size: 25px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #ffd664
}

p {
    text-align:left;
    font-size: 25px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

#clock {
    text-align:left;
    font-size: 25px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

#social {
    text-align:left;
    font-size: 25px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

a {
    color:#E9EBEB
}

a:link {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration:underline
}
