html {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('assets/background/checkerboard.png');
    background-size:cover;
    background-attachment: fixed;  
}

@font-face {
    font-family: DK Cool Crayon;
    src: url(fonts/DK\ Cool\ Crayon.ttf);
}

@font-face {
    font-family: DK Cool Crayon;
    src: url(fonts/DK\ Cool\ Crayon.ttf);
}

.container {
    margin: 0 auto;    
}

.text-container {
    border: 2px solid #af0d79;
    padding: 50px;
    border-radius: 15px;
    background-color: #770752;
    width: 380px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

body {
    padding: 0;
}

h1 {
    text-align:center;
    font-size: 60px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

h2 {
    position:relative;
    bottom: 50px;
    text-align:center;
    font-size: 30px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

p {
    text-align:left;
    font-size: 25px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

#clock {
    text-align:left;
    font-size: 25px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

#social {
    text-align:left;
    font-size: 25px;
    font-family:DK Cool Crayon;
    text-shadow: 3px 3px 0px #00000060;
    color: #E9EBEB
}

a {
    color:#E9EBEB
}

a:link {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration:underline
}
